body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

    background-color: rgb(6, 6, 6);
}

.topbar {
    height: 60px;
    background-color: rgb(22, 22, 22);
    color: white;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 30px;
}

.nav {
    display: flex;
    gap: 25px;
}

.nav a {
    color: white;
    text-decoration: none;
}

.nav a:hover {
    color: blanchedalmond;
}

.funzone {
    width: 1000px;
    height: 1000px;

    padding: 30px;

    margin: 0 auto;

    /* border: 1px solid #374151; */
    border-radius: 15px;

    color: white;
    text-align: left;
}

.game {
    width: 500px;
    min-height: 200px;

    padding: 30px;

    background: #141414;
    border: 1px solid #374151;
    border-radius: 15px;

    color: white;
    text-align: left;
}

.game h2 {
    margin: 0 0 10px 0;
}

.game p {
    margin: 0 0 25px 0;
    color: #26292d;
}

.click-box {
    position: relative;
    top: 8px;

    background: #232323;
    border: 2px solid white;

    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    cursor: pointer;

    transition: 0.2s;
}

.click-box:hover {
    transform: scale(1.02);
}

.click-box:active {
    transform: scale(0.95);
}

.hover-appear {
    opacity: 0;
    transition: opacity 0.2s ease;
}

.readonly {
    user-select: none;
    caret-color: transparent;
}

#speed {
    position: relative;
    left: 50px;
    top: 30px;
}

#speed:hover .hover-appear {
    opacity: 1;
}

#speed .game-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

#speed .click-box {
    border-radius: 15px;
}

#speed #time {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#speed #click {
    width: 320px;
    height: 180px;
}

#speed #time .click-box {
    color: #c7c7c7;
}

#speed #time .click-box.selected {
    color: white;
}